<a href="https://colab.research.google.com/github/PratibhaPachare/python-basics/blob/main/PYTHON_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MODULE NO.1**

# New Section

In [ ]:
'''Multiline 
comment
 ''' 
 #Single line comment

Hello World.

In [ ]:
# GUVI PYTHON COARSE MODULE NO. 1
print("Hello World.")

Hello World.

In [ ]:
# Numbers & Math functions
a=10
b=2.1
c=2j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# converting the variable
d=float(a)
e=complex(b)
#f=int(c) we cant covert complex into int or float
print(d)
print(e)

10.0
(2.1+0j)

In [ ]:
# MAth Operstions
a=100
b=20
x=a+b
y=a-b
z=a*b
w=a/b
Modulus=a%b
Exponential=a**b
Floor_division=a//b
print(x)
print(y)
print(z)
print(w)
print(Modulus)
print(Exponential)
print(Floor_division)

120
80
2000
5.0
0
10000000000000000000000000000000000000000
5

MODULE NO.2

In [ ]:
# GUVI PYTHON COURSE MODULE NO.2
#VARIABLES & NAMES
a=15.55
b=int(a)
a=15
c=float(a)
print(a)
print(b)
print(c)

15
15
15.0

In [ ]:
a="guvi"
A=15
print(a)
print(type(a))
print(A)
print(type(A))

guvi
<class 'str'>
15
<class 'int'>

In [ ]:
#ASSIGNING MULTIPLE VALUES TO VARIABLE
A,B,C=10,19,20
print(A)
print(B)
print(C)

10
19
20

In [ ]:
A=B=C=10,19,20
print(A)
print(B)
print(C)

(10, 19, 20)
(10, 19, 20)
(10, 19, 20)

In [ ]:
#MULTILINE STRINGS IN PYTHON
X = """PYTHON IS
OBJECT ORIENTED
PROGRAMMING
LANGUAGE"""
print(X)

PYTHON IS
OBJECT ORIENTED
PROGRAMMING
LANGUAGE

STRING OPERATION

In [ ]:
X="PYTHON IS OBJECT ORIENTED PROGRAMMING LANGUAGE"
print(X[5])
print(X[0:3]) #slicing
print(X[-1])
print(X[-15:-1]) #negative index slicing
print(len(X))
print("python" in X) #to chek word present in string

N
PYT
E
AMMING LANGUAG
46
False

In [ ]:
x="python"
for a in x:
  print(a)

p
y
t
h
o
n

In [ ]:
#MODIFY THE STRING
x="my, name is KHAN"
print(x.upper())
print(x.lower())
print(x.strip()) #remove white spaces
print(x.replace("my", "your"))
print(x.split(","))

MY, NAME IS KHAN
my, name is khan
my, name is KHAN
your, name is KHAN
['my', ' name is KHAN']

In [ ]:
x="hello"
y="world"
print(x+ " "+y)

hello world

CONDITIONAL STATEMENTS

In [ ]:
"""
a==b
a!=b
a<=b
a>=b
"""
a=10
b=10
if a>b:
  print("a")
elif a==b:
  print("a=b")  
else:
  print("b")

a=b

In [ ]:
a=10
b=20
if a>b and a!=b:
  print("a")
elif a==b:
  print("a=b")
else:
  print("b")

b

In [ ]:
a=10
b=20
if a>b or a!=b:
  print("a")
elif a==b:
  print("a=b")
else:
  print("b")

a

In [ ]:
a=10
b=20
if a>b and a!=b:print("a")
elif a==b:print("a=b")
else:print("b")

b

FUNCTION

In [ ]:
def demo():
  print("hi there")
demo()

hi there

In [ ]:
def demo(x):
  print("hi there", x)
demo("how are you")

hi there how are you

In [ ]:
def Pratibha(x,y):
  print(x, "is good", y)
Pratibha("ashu","girl")

ashu is good girl

In [ ]:
x=20
def my_function(x):
  return x+5
  print(x)
my_function(20)

25

FOR AND WHILE LOOPS

In [ ]:
NUM=[1,2,3,4,5]
for x in NUM:
  print(x)

1
2
3
4
5

In [ ]:
name="prati"
for x in name:
  print(x)

p
r
a
t
i

In [ ]:
list=[20,30,40,5,6,7]
for a in list:
  print(a)
  if a==5: #value has to be present
    break

20
30
40
5

In [ ]:
list=[20,30,40,5,6,7]
for a in list:
  if a==30:
    continue
  print(a)  #print statement should be under if

20
40
5
6
7

In [ ]:
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
for x in range(1,6):
  print(x)

1
2
3
4
5

In [ ]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i=1
while i<6:
  if i>=3:
    break
  print(i) 
  i+= 1

1
2

In [ ]:
i=1
while i<6:
  i+=1
  if i<3:
    continue
  print(i)

3
4
5
6

MODULE NO.3

In [ ]:
#FUNNCTION AS ARGUMENTS
def trial (x,y):
  print(x+" "+y)
trial("hello","world")

hello world

In [ ]:
list= ["MAP","GEOGRAPHY"]
def travel(x):
  print(x*3)
travel(list)

['MAP', 'GEOGRAPHY', 'MAP', 'GEOGRAPHY', 'MAP', 'GEOGRAPHY']

In [ ]:
list= ["MAP","GEOGRAPHY"]
def travel(x):
  print(x*3)
def boat(kayak,list):
  for item in list:
    kayak(item)
boat(travel,list)

MAPMAPMAP
GEOGRAPHYGEOGRAPHYGEOGRAPHY

In [ ]:
#LIST [] - ordered, changable, allow duplicates, allows all data types 
#TUPLE () - ordered, UNCHANGABLE, allow duplicates, allows all data types
#DICTIONARY {} - UNORDERED, CHANGABLE, DONT ALLOW DUPLICATES, allows all data types

In [ ]:
#LIST
list=["pratibha", 29, 5.6, 2+5j, "dmietr", 29]
print(list)
print(len(list))
print(type(list))
print(list[0])
print(list[0:4])
print(list[:4])
list[3]="monnu"
print(list)
list[3:5]="monnu", 23,5
print(list)
list.insert(0,"MIss")
print(list)
list.append("pachare")
print(list)

In [ ]:
#TUPLE
tuple=("pratibha", 29, 5.6, 2+5j, "dmietr", 29)
print(tuple)
print(len(tuple))
print(type(tuple))
print(tuple[0])
print(tuple[0:4])
print(tuple[:4])
#unchangable cant append, remove
tuple=("car")
print(type(tuple)) # class string
tuple=("car",)
print(type(tuple)) # class tuple

# New Section

In [ ]:
#DICTIONARY - key:value
dic={"name":"pratibha","age":29, "height":5.6, "college": "dmietr"}
print(dic)
print(len(dic))
print(type(dic))

#dic.add("name", "monu")
#you can have list in dictionary
dic={"name":"pratibha","age":29, "height":5.6, "college": ["dmietr", "nejc","dwk"]}
print(dic)
x=dic["name"]
print(x)
x=dic.get("name")
print(x)
dic.update({"name" :"prati"})
print(dic)
dic.pop("name")

{'name': 'pratibha', 'age': 29, 'height': 5.6, 'college': 'dmietr'}
4
<class 'dict'>
{'name': 'pratibha', 'age': 29, 'height': 5.6, 'college': ['dmietr', 'nejc', 'dwk']}
pratibha
pratibha
{'name': 'prati', 'age': 29, 'height': 5.6, 'college': ['dmietr', 'nejc', 'dwk']}

'prati'

LIST COMPREHENSION

In [ ]:
#TO CREATE A NEW LIST FROM LIST GIVEN.
# [A] without using list coprehension
list=["pratibha", "datta", "rrr", "charan", "ram"]
newlist=[]
for x in list:
  if "r" in x:
    newlist.append(x)
print(newlist)

#[B] Using list coprehension
list=["Pratibha", "Datta", "rrr", "Charan", "Ram"]
newlist=[x for x in list if "r" in x]
print(newlist)

newlist=[x for x in list if "r" in x!="rrr"]
print(newlist)

newlist=[x for x in list]
print(newlist)

newlist=[x for x in range(10)]
print(newlist)

newlist=[x for x in range(10) if x<5]
print(newlist)

newlist=[x.lower() for x in list]
print(newlist)

newlist=[x.upper() for x in list]
print(newlist)

newlist=[x if x!="Ram" else "ntr" for x in list]
print(newlist)

['pratibha', 'rrr', 'charan', 'ram']
['Pratibha', 'rrr', 'Charan']
['Pratibha', 'Charan']
['Pratibha', 'Datta', 'rrr', 'Charan', 'Ram']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
['pratibha', 'datta', 'rrr', 'charan', 'ram']
['PRATIBHA', 'DATTA', 'RRR', 'CHARAN', 'RAM']
['Pratibha', 'Datta', 'rrr', 'Charan', 'ntr']

CLASSES AND OBJECTS

In [ ]:
class human:
  x=5
h1=human()
print(h1.x)

5

In [ ]:
class human:
  def __init__(self, name, age):
    self.name=name
    self.age=age
h1=human("pratibha", 5)
print(h1.name)
print(h1.age)

pratibha
5

MODULE NO.4

In [ ]:
#LAMBDA FUNCTION
x=lambda a:a+20
print(x(5))

x=lambda a,b:a+b
print(x(20,25))

25
45

In [ ]:
#lambda function inside a function
def f1(n):
  return lambda a:a*n 
doub=f1(2)
print(doub(11))

trip=f1(3)
print(trip(11))

22
33

In [ ]:
#filter function returns bolean expressions
def prime(x):
  for n in range(2, x):
    if x%n==0:
      return False
    else:
      return True  
filtered=filter(prime, range(20))
print("prime numbers are :", list(filtered))

prime numbers are : [3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#MAP function is inbuilt function
def square(x):
  return x*x
numbers=[1,2,3,4,5,6]
listsquares= map(square, numbers)
print(list(listsquares))

[1, 4, 9, 16, 25, 36]

In [ ]:
#PYTHON PIP
#package is basically contains the file you need
#python packages: 1)Numpy 2)Pendulum 3)pyQt 4)pandas 5)python imaging library 6)moviepy 7)py32 8)pytest 9)tkinter 10)Requests
# to check pip version -  go to the cmd and then -m pip --version then enter

In [ ]:
#read excel data in python
#import xlrd

In [ ]:
#python MySQL

In [ ]:
#iterater in python
#iter() and next()

#(1) iterables- list, tuple, dict are iterable objects
tuple=("pratibha", 29, 5.6, 2+5j, "dmietr", 29)
a= iter(tuple)
print(next(a))
print(next(a))
print(next(a))
print(next(a))

#strings are also iterable
string="shankarrao"
a= iter(string)
print(next(a))
print(next(a))
print(next(a))
print(next(a))

pratibha
29
5.6
(2+5j)
s
h
a
n

In [ ]:
#we can iter using for loop
tuple=("pratibha", 29, 5.6, 2+5j, "dmietr", 29)
for x in tuple:
  print(x)

pratibha
29
5.6
(2+5j)
dmietr
29

In [ ]:
#(2)iterator

class mynumbers:
  def __iter__(self):
    self.a=1
    return self
  def __next__(self):
    x=self.a
    self.a+=1
    return x
myclass=mynumbers()
myiter=iter(myclass) 
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3

In [ ]:
#pickling
#serialization and deserialization 2d to 1d or 1d to 2d
#converting any type of objects into bytes 01010 
#need this mainly in ML
#data is two diamentional - for ml need to convert data to 1d format

In [ ]:
#python JSON - JAWA SCRIPT OBJECT NOTATION